.compose-modal {
    position: absolute;
    z-index: 999;
    background-color: white;
    padding: 2rem;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    box-sizing: border-box;
    padding: 2rem;

    transform: rotateY(-90deg);
    /* Start flipped */
    transform-origin: right center;
    /* Flip from the right */
    animation: flipIn 0.5s forwards ease-out;
    backface-visibility: hidden;
    perspective: 1000px;
}

/* Animation */
@keyframes flipIn {
    to {
        transform: rotateY(0deg);
    }
}

.compose-modal button {
    background-color: white;
    border: 0px;
}

.compose-modal button:hover {
    cursor: pointer;
}

.compose-modal input,
textarea {
    border: 0px;
}

.compose-modal input:focus,
.compose-modal textarea:focus {
    outline: none;
}

.compose-modal-body:focus::placeholder {
    opacity: 0;
}

.compose-modal p {
    margin: 0;
    border-bottom: 1px solid rgba(136, 136, 136, 0.1);
    padding: 20px 0;
}

.compose-modal-from,
.compose-modal-to {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
}

.compose-modal-subject input,
.compose-modal-body {
    font-size: 1.0rem;
    padding: 20px 0px;
}

.compose-modal-subject {
    padding: 2px 0 !important;
}

.compose-modal-body {
    height: 60vh;
    width: 80vw;
    font-size: 1.05rem;
    font-family: 'Roboto';
}


.compose-modal-to input {
    font-size: 1rem;
}

.compose-modal h1 {
    display: none;
}

.compose-actions {
    display: grid;
    grid-template-columns: 7fr 3fr;
}

.compose-actions div {
    display: flex;
    justify-content: space-between;
}

.compose-actions button {
    font-size: 1.2em;
}


@media (min-width:836px) {
    .compose-modal h1 {
        display: block;
    }
}