.mails-container {
    display: grid;
    grid-template-columns: 2fr 5fr;
}

/* @media (min-width:690px) {
    .mails-container {
        display: grid;
        grid-template-columns: 1.3fr 5fr;
    }
} */

.mail-menu {
    background-color: #F8FAFD;
}