header {
    background: var(--main-gmail-color);
    border-bottom: 2px solid var(--main-gmail-color);
}

.app-header {
    display: flex;
    justify-content: space-between;
    height: auto;
    align-items: center;
    padding: 0.5rem 2rem;
}

nav a {
    margin: .5em;
}

nav a:active {
    color: purple;
}

nav a.active {
    color: darkblue;
    font-weight: bold;
    text-decoration: overline;
}

.app-header h3 {
    padding-right: 170.844px;
}

.search-option {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
}

.search-option i {
    display: flex;
    align-items: center;
    opacity: 0.6;
}

.search-option-date {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
}

.search-option-preview p:nth-child(2) {
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.8);
}